@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Mouse Memoirs", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: normal;
  }
}

@layer components {
  .menu-wrapper {
    background-color: rgba(36, 98, 255, 0.5);
  }
  .menu-background {
    background-color: rgba(38, 22, 118, 0.5);
  }

  .play-gradient {
    background-image: linear-gradient(to bottom, #fe71fe, #7199ff);
  }

  .back-gradient {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .heading-gradient {
    background-image: linear-gradient(to bottom, #67b6ff, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
